.parent{
    background-color: #ffffff;
    padding: 20px 18px;
}
.item{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,#ac802a,#dcc164) 1;
}
.item h1{
    font-weight: 700;
    font-size: 24px;
}

.group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.image {
    width: 100%;
    height: 260px;
}

.name {
    font-size: 18px;
    background: linear-gradient(to right, #af802a, #dfc464);
    /* Градиент */
    -webkit-background-clip: text;
    /* Обрезка фона по тексту (для Webkit-браузеров) */
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.title {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    margin: 10px 0;
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}


@media (max-width: 768px) {
    .group {
        grid-template-columns: 1fr 1fr; /* 2 колонки на узких экранах */
    }
}

@media (max-width: 480px) {
    .group {
        grid-template-columns: 1fr; /* 1 колонка на совсем маленьких экранах */
    }
}