* {
    transition: .3s;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 30px;
}

.section {
    width: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.052);
}

body {
    padding: 140px 0;
}

.logo {
    width: 180px;
    height: 45px;
}

.menu {
    display: flex;
    height: 80px;
    gap: 30px;
}

.menu li {
    font-size: 19px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #ffffff;
}

.menu>li:hover {
    border-image: linear-gradient(to right, #ac802a, #ac802a, #dcc164) 1;
    background: linear-gradient(to right, #ac802a, #dcc164);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.clickDrop {
    display: flex;
    justify-content: center;
    padding-top: 3px;
    display: none;
}

.menu li:hover .ok {
    transform: rotate(180deg);
}

.dropDown {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    z-index: 20;
    background-color: #fff;
    padding: 10px;
    color: black;
    -webkit-text-fill-color: black;
}

.hasDropdown {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 185px;
}

.menu li:hover>.dropDown {
    display: block;
}

.dropDown a {
    display: block;
    padding: 10px 15px;
    font-size: 20px;
    width: 100%;
    border: none;
}

.dropDown a:hover {
    background: linear-gradient(to right, #ac802a, #dcc164);
    /* Градиент */
    -webkit-background-clip: text;
    /* Обрезка фона по тексту (для Webkit-браузеров) */
    -webkit-text-fill-color: transparent;
}

.searchBar {
    height: 30px;
    border: none;
    width: 100%;
    outline: none;
}

.search:hover {
    transform: scale(1.2);
}

section a {
    text-decoration: none;
    color: currentColor;
}

.none {
    display: none;
}

.block {
    position: relative;
}

.clickBlock{
    display: none;
}

.input {
    position: absolute;
    top: 15px;
    left: 35%;
    width: 40%;
    padding: 10px 0;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.burgerMenu {
    display: none;
}

.burger_Menu {
    display: none;
}

@media (max-width: 1000px) {
    .menu {
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;
    }
}

@media (max-width: 768px) {

    .ok{
        display: none;
    }

    .menu li:hover>.dropDown {
        display: none;
    }

    .clickBlock{
        display: block;
        color: rgba(0, 0, 0, 0.541);
    }

    .rotateClicknone{
        transform: rotate(0deg);
        transition: .5s;
    }

    .rotateClick{
        transform: rotate(180deg);
        transition: .5s;

    }

    .nones {
        display: none;
    }

    .clickDrop {
        width: 35px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.11);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burgerMenu {
        display: block;
    }

    .burger_Menu {
        display: flex;
        justify-content: end;
        padding-right: 30px;
    }

    .menu {
        flex-direction: column;
        position: fixed;
        left: -100%;
        gap: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        height: 100vh;
        background-color: #fff;
        padding-top: 10px;
        padding-left: 20px;
    }

    .menu li {
        display:flex;
        width: fit-content;
        font-size: 25px;
        align-items: center;
        height: 50px;
    }
    
    .menu li:hover{
        border:none;
    }

    .active {
        left: 0;
    }
}