.parent {
    background-color: #ffffff;
    padding: 20px 18px;
}

.name {
    width: 160px;
    height: 26px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(60deg, #af802a, #dfc464);
    margin-top: 10px;
    padding-left: 10px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0;
    color: #ffffff;
}

.date {
    font-size: 15px;
    font-weight: 400;
    color: #e2e2e2;
}

.block {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.groupBlock{
    position: relative;
    margin-top: 20px;
}
 
.groupBlock img{
    width: 600px;
    height: 350px;
    object-fit: cover;
    filter:brightness(60%);
}

.block1 {
    bottom: 20px;
    left: 20px;
    position: absolute;
    z-index: 1;
}

@media (max-width: 768px) {

    .block {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .groupBlock {
        grid-template-columns: 1fr;
        /* Все блоки в одном столбце */
        gap: 15px;
    }

    .block1 {
        width: 100%;
        /* Увеличиваем ширину на мобильных устройствах */
    }
}