.groupBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

.name {
    width: 160px;
    height: 26px;
    font-size: 17px;
    color: #fff;
    background: linear-gradient(60deg, #af802a, #dfc464);
    margin-top: 10px;
    padding-top: 2px;
    padding-left: 10px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 15px 0;
    color:#ffffff;
}

.date {
    font-size: 15px;
    font-weight: 400;
    color: #e2e2e2;
}

.block{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.block1{
    width: 75%;
    height: 340px;
    background: url(../../assets/slip.jpeg);
    background-position: center;
    background-size: cover;
    padding-top: 220px;
    padding-left: 25px;
    filter: brightness(95%);
}

